<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
  <header class="main-header">
    <a href="/" class="logo">Phone Shop</a>
    <nav>
      <a href="/recommend">Chọn điện thoại thông minh</a>
    </nav>
  </header>
  <main>
    <h2>Đăng ký</h2>
    <form method="POST">
      <label>Email:</label><input name="email" required><br>
      <label>Tên:</label><input name="name" required><br>
      <label>Mật khẩu:</label><input type="password" name="password" required><br>
      <button type="submit">Đăng ký</button>
    </form>
    <a href="/login">Đã có tài khoản? Đăng nhập</a>
  </main>
</body>
</html>